html {
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 89%;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#app {
    width: 50%;
    height: 80%;
    margin: auto;
    background-color: transparent;
}

.chatbot-profile {
    border-bottom: 3px solid rgb(187, 187, 187);
    display: flex;
    align-items: center;
}

.chatbot-profile i {
    font-size: 50px;
    color: rgb(187, 187, 187);
}

.chatbot-profile p {
    color: rgb(187, 187, 187);
    margin: 30px 10px;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 1000;
}

.box {
    height: 100%;
    overflow-y: auto;
}

.box ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
}

.box ul li {
    color: rgb(187, 187, 187);
    font-size: 30px;
    font-weight: 500;
    list-style: none;
    margin-bottom: 10px;
}

#user-msgs {
    position: relative;
}

#user-msgs li {
    padding: 10px 20px;
    background: blue;
    border: 1px solid black;
    border-radius: 30px;
    text-align: right;
    display: inline-flex;
    min-width: max-content;
}

.user {
    position: fixed;
    width: 50%;
    height: 10%;
    background-color: rgb(43, 43, 43);
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.user input {
    border-radius: 20px;
    width: 40%;
    padding: 0px 15px;
    background-color: rgb(32, 32, 32);
    color: rgb(187, 187, 187);
    border: 2px solid rgb(105, 105, 105);
    position: absolute;
    bottom: 30px;
    height: 40px;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 20px;
}


.user input::placeholder {
    font-size: 20px;
    color: rgb(187, 187, 187);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}