#app{
    align-items: center;
    width: 50%;
    height: auto;
    margin: auto;
}

.chatbot-profile{
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.chatbot-profile i{
    font-size: 50px;
}

.chatbot-profile p{
    margin: 30px 10px;
    margin-top: 40px;
}

.user input{
    position: fixed;
    bottom:50px;
    border-radius: 20px;
    width: 50%;
    height: 3%;
    padding: 0px 15px;
    background-color: rgb(172, 226, 255);
    color: black;
    border: 1px solid black;
}

.user input::placeholder{
    color: black;
}

.user i{
    position: fixed;
    bottom: 58px;
    padding: 0px 15px;
    left: 74%;
    color: rgb(255, 255, 255);
}

.user i:hover{
    color: gray;
}